@model List<Entities.Solution>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page banner area start here -->
<section class="banner__inner-page bg-image pt-180 pb-180 bg-image"
         data-background="assets/images/banner/banner-inner-page.jpg">
    <div class="shape2 wow slideInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
        <img src="assets/images/banner/inner-banner-shape2.png" alt="shape">
    </div>
    <div class="shape1 wow slideInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
        <img src="assets/images/banner/inner-banner-shape1.png" alt="shape">
    </div>
    <div class="shape3 wow slideInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
        <img class="sway__animationX" src="assets/images/banner/inner-banner-shape3.png" alt="shape">
    </div>
    <div class="container">
        <h2 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">Çözümlerimiz</h2>
        <div class="breadcrumb-list wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
            <a href="/Home/Index">Ana Sayfa</a><span>
                <i class="fa-regular fa-angles-right mx-2"></i>Çözümler
            </span>
        </div>
    </div>
</section>
<!-- Page banner area end here -->
<!-- Service area start here -->
<section class="service-inner-area pt-120 pb-120">
    <div class="container">
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="service-two__item">
                        <div class="image">
                            <img height="252px" width="374px" src="@item.Image" alt="image">
                        </div>
                        <div class="service-two__content">
                            <div class="icon">
                                <img src="~/assets/images/icon/service-two-icon1.png" alt="icon">
                            </div>
                            <div class="shape">
                                <img src="~/assets/images/shape/service-two-item-shape.png"
                                     alt="shape">
                            </div>
                            <h4><a href="@Url.Action("SolutionDetails","Solution",new {id=item.Id})" class="primary-hover">@item.Title</a></h4>
                            @if (item.Description.Length > 350)
                            {
                                <p>
                                    @Html.Raw(item.Description.Substring(0, 350))
                                </p>
                                <a class="read-more-btn" href="@Url.Action("SolutionDetails","Solution",new {id=item.Id})">
                                    Devamını Oku <i class="fa-regular fa-arrow-right-long"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- Service area end here -->
